@tailwind base;
@tailwind components;

@layer components {
    .mypage-bg {
        @apply w-full h-[300px] rounded-t-3xl border-2 border-fuchsia-700
        relative overflow-hidden ;
    }

    .mypage-bg img{
        @apply absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .mypage-profile{
        @apply -top-24 left-16;
    }

    .mypage-profile img{
        top : 50%;
        left : 50%;
        transform : translate(-50%, -50%);
    }

    .introduction{
        @apply py-4 px-8 border-b-2 mb-4;
        min-height: 150px;
    }
}